git*.mat
+Semedo_*
cmocean/*
.MATLABDriveTag*
data/*
*.csv
Tutorial/
gramm/
.other_matfiles
DATA_TABLES
*.sess
*.vim
figures
SingleDayExpt
*.mlx
hash/*.mat
.mind
hash/.8dKXLsX2ZhwXjc5YT2GzXu.tmp
utils/affinewarp
*.asv
mytry/example_workspace_of_structs.mat
mytry/jpecc_try.mat
